:root {
  --bg: #f2f2f2;
  --border: 0 solid #e5e7eb;
  --speed: 500ms;
}

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #f2f2f2;
}
